*.dlib/
work_dir/
ARCH/
BODY/
ENTI/
PACK/
neorv32.lib/
*.mr
*.syn
*.pvl
*.log
*.svf
*.pvk
*.txt
moduleparamid
presto_gensys_json_file_location
work.nlib/
alib-52/
cksum_dir/
split*
RTLA_WORKSPACE/
HDL_LIBRARIES/
