*.db filter=lfs diff=lfs merge=lfs -text
*.ndm filter=lfs diff=lfs merge=lfs -text
lib/asap7_SLVT.ndm filter=lfs diff=lfs merge=lfs -text
lib/asap7_SRAM.ndm filter=lfs diff=lfs merge=lfs -text
lib/asap7_LVT.ndm filter=lfs diff=lfs merge=lfs -text
lib/asap7_RVT.ndm filter=lfs diff=lfs merge=lfs -text
lib/asap7_SLVT.ndm/pcat filter=lfs diff=lfs merge=lfs -text
lib/asap7_SLVT.ndm/reflib.ndm filter=lfs diff=lfs merge=lfs -text
lib/asap7_SRAM.ndm/p2 filter=lfs diff=lfs merge=lfs -text
lib/asap7_SRAM.ndm/pcat filter=lfs diff=lfs merge=lfs -text
lib/asap7_LVT.ndm/p1 filter=lfs diff=lfs merge=lfs -text
lib/asap7_LVT.ndm/reflib.ndm filter=lfs diff=lfs merge=lfs -text
lib/asap7_RVT.ndm/reflib.ndm filter=lfs diff=lfs merge=lfs -text
lib/asap7_SLVT.ndm/p2 filter=lfs diff=lfs merge=lfs -text
lib/asap7_LVT.ndm/p0 filter=lfs diff=lfs merge=lfs -text
lib/asap7_RVT.ndm/p1 filter=lfs diff=lfs merge=lfs -text
lib/asap7_SLVT.ndm/p1 filter=lfs diff=lfs merge=lfs -text
lib/asap7_SRAM.ndm/p0 filter=lfs diff=lfs merge=lfs -text
lib/asap7_SRAM.ndm/p1 filter=lfs diff=lfs merge=lfs -text
lib/asap7_SRAM.ndm/reflib.ndm filter=lfs diff=lfs merge=lfs -text
lib/asap7_LVT.ndm/pcat filter=lfs diff=lfs merge=lfs -text
lib/asap7.ndm/reflib.ndm filter=lfs diff=lfs merge=lfs -text
lib/asap7_LVT.ndm/p2 filter=lfs diff=lfs merge=lfs -text
lib/asap7_RVT.ndm/p0 filter=lfs diff=lfs merge=lfs -text
lib/asap7_RVT.ndm/pcat filter=lfs diff=lfs merge=lfs -text
lib/asap7_SLVT.ndm/p0 filter=lfs diff=lfs merge=lfs -text
